loader/build/*
loader/WiiUPluginLoader.cbp
loader/*.elf
example_plugin/bin/*
example_plugin/build/*
example_plugin_pic/*
portlib_repos/*
plugins/*/bin/*
plugins/*/build/*
plugins/*/*.cbp
plugins/screenshot/screenshots/*
loader/WiiUPluginLoader.cscope_file_list
loader/WiiUPluginLoader.layout
loader/screenshots/*
release/*
*.mod
*.id*
*.nam
*.til
*.layout
wups.cbp
tools/udp_debug_reader/GeckoLog.txt
*.bz2
debug/
*.elf
*.wps
*.save-failed
*.jekyll-metadata
*.cbp
lib/
cmake-build-debug/
CMakeLists.txt
