loader/build/*
loader/WiiUPluginLoader.cbp
loader/*.elf
example_plugin/bin/*
example_plugin/build/*
example_plugin_pic/*
plugins/*/bin/*
plugins/*/build/*
plugins/*/*.cbp
plugins/screenshot/screenshots/*
loader/WiiUPluginLoader.cscope_file_list
loader/WiiUPluginLoader.layout
loader/screenshots/*
release/*
*.mod
*.id*
*.nam
*.til
*.layout
