name: CI-PR

on: [pull_request]

jobs:
  clang-format-lib:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: clang-format
      run: |
        docker run --rm -v ${PWD}:/src ghcr.io/wiiu-env/clang-format:13.0.0-2 -r ./include ./libraries
  build-lib:
    runs-on: ubuntu-22.04
    needs: clang-format-lib
    steps:
    - uses: actions/checkout@v2
    - name: build binary
      run: |
        docker build . -f Dockerfile.buildlocal -t builder
        docker run --rm -v ${PWD}:/project builder make
    - uses: actions/upload-artifact@master
      with:
       name: binary
       path: "lib/*.a"
  clang-format-examples:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: clang-format
      run: |
        docker run --rm -v ${PWD}:/src ghcr.io/wiiu-env/clang-format:13.0.0-2 -r ./plugins/example_plugin/src
  build-examples:
    runs-on: ubuntu-22.04
    needs: clang-format-examples
    steps:
    - uses: actions/checkout@v2
    - name: build binary
      run: |
        docker build . -f Dockerfile.buildexamples -t builder
        cd ./plugins/example_plugin
        docker run --rm -v ${PWD}:/project builder make
    - uses: actions/upload-artifact@master
      with:
       name: binary
       path: "*.wps"